<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Bolshakov suite">
    <test name="Bolshakov test">
        <classes>
            <class name="Bolshakov_HW_25.Exercise_1"/>
            <class name="Bolshakov_HW_25.Exercise_2"/>
        </classes>
    </test>
</suite>